<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/custom.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
		<div ng-app="ToDo">
		  <div>
		    <header>
		        <h1>Liste des courses</h1>
		    </header>

		    <section id="main" style="display: block;" ng-controller="listCtrl">
		    	<form name="frm">
		    		<input type="text" size="30" ng-model="title" placeholder="What do i need to buy?" />
		    		<button type="submit" ng-click="addItem()">Ajouter</button>
		    	</form>
		    	<ul>
		    		<li ng-repeat="item in items">
		    			<input type="checkbox" ng-model="item.done" ng-change="setItemDone( item )"> {{ item.title }} {{ item.done }} <span ng-click="clearItem( item )">[x]</span>
		    		</li>
		    	</ul>
		    	{{items.length}} restant(s) <button ng-click="clearAllItems()">Effacer tout</button>
		    	<filters>
		    		Tout Fait Restant
		    	</filters>
		    </section>

		    <footer>
		        Footer
		    </footer>

		  </div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
		<script>
			var app = angular.module("ToDo", []);

			app.controller("listCtrl", ['$scope', function($scope) {
				$scope.items = [];

				$scope.addItem = function() {
					if($scope.title)
						$scope.items.push( { 'title': $scope.title, 'done': false} );
					$scope.title = '';
				}

				$scope.clearAllItems = function() {
					$scope.items = [];
				}

				$scope.clearItem = function( item ) {
					var index = $scope.items.indexOf(item);
  					$scope.items.splice(index, 1);
				}

				$scope.setItemDone = function( item ){
					// do local storage !!
				}

			}]);

		</script>
	</body>
</html>
