<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

        <title>Rocket Basket</title>
    </head>
    <body>
        <div class="container" ng-app="ToDo">
          <div class="main">
            <header>
                <h1><i class="fa fa-rocket"></i>&nbsp;&nbsp;&nbsp;Rocket Basket</h1>
            </header>

            <section id="main" style="display: block;" ng-controller="listCtrl">
                <form class="addform" name="frm">
                    <input type="text" ng-model="title" placeholder="What do i need to buy?" />
                    <button type="submit" ng-click="addItem()">AJOUTER</button>
                </form>
                <ul class="item-list" ng-show="items.length">
                    <li ng-repeat="item in items | orderBy:'done' | filter:searchDone" ng-class="{strike: item.done==true}">
                        <span class="item-done" ng-class="{finished: item.done==true}" ng-click="changeItemStatus( item )"><i class="fa fa-check"></i></span>
                        <span class="item-description">{{ item.title }}</span>
                        <span class="item-delete" ng-click="clearItem( item )"><i class="fa fa-trash"></i></span>
                    </li>
                </ul>
                <div class="filters">
                    <span><i class="fa fa-filter"></i></span>
                    <a ng-click="searchDone.done = 'true'">Fait</a>
                    <a ng-click="searchDone.done = 'false'">Restant</a>
                    <a ng-click="searchDone.done = ''">Tout</a>
                </div>
                <div class="extra">
                    <span class="item-total">Total : {{items.length}}</span>
                    <button ng-click="clearAllItems()">Effacer tout</button>
                </div>
            </section>
          </div>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/local-storage.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

        </script>
    </body>
</html>
